---
Language:        Cpp
BasedOnStyle:  LLVM
FixNamespaceComments: true
NamespaceIndentation: None
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false
BreakBeforeBraces: Allman
PointerAlignment: Middle
ColumnLimit: 120