[submodule "lib/QHexView"]
	path = lib/QHexView
	url = https://github.com/Dax89/QHexView.git
[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/Altenius/SerialPP.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
