[submodule "lib/cparse"]
	path = lib/LibLibreTuner/lib/cparse
	url = https://github.com/LibreTuner/cparse.git
[submodule "lib/yaml"]
	path = lib/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/QHexView"]
	path = lib/QHexView
	url = https://github.com/Dax89/QHexView.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/Altenius/Lua.git
[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/LibLibreTuner/lib/serial"]
	path = lib/LibLibreTuner/lib/serial
	url = https://github.com/Altenius/SerialPP.git
